//排版  这里适用于排版的呢


//清楚浮动的
.clearfix:after,
.clearfix:before{
  display: block;
  content: '';
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix{
  zoom: 1;
}
//
.w{
  margin: 0 auto;
}
//
.l{
  float: left;
}
//
.r{
  float: right;
}

//
.bc-container{
  width: 1220px;
  margin: 0 auto;
}

.flexbox{
  display: flex;
}
.flex1{
  flex:1
}


//公共的表格 ul li 样式 todo 后期抽离组件？
.my-table{//ul
  background: #fff;
  border:1px solid #f2f2f2;
  margin-top: 20px;
  .table-header{
    background: #f2f2f2;
  }
  li{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #f2f2f2;
  }
  .table-row{
    li{
      text-indent: 10px;
      float: left;
      font-size: 16px;
      //用于设置列宽比例---》
      //&:nth-child(1){width: 20%;}
      //&:nth-child(2){width: 20%;}
      //&:nth-child(3){width: 30%;}
      //&:nth-child(4){width: 20%;}
    }
  }

}
/*分页*/
.my-pagination{
  position: absolute;
  left: 50%;
  margin-left: -192px;
  bottom: 20px
}

/*标题*/
.small-title{
  font-size:18px;
  margin-bottom:30px ;
}



/* 盒子阴影及移入样式 */
.box-hover-shadow{
  // TODO:1-盒子公共样式
  position: relative;
  top: 0;
  border-radius: 3px;
  background: #fff;
  padding: 30px;
  box-shadow: 1px 1px 5px #ccc;
  transition: all 0.2s;
  &:hover {
    top: -5px;
    box-shadow: 5px 5px 5px #aaa;
  }
}

